*{ font-family: Arial, Helvetica, sans-serif !important;}


a:hover{
    color: salmon !important;
}

/*  */
.st-emotion-cache-1hncy2m{
    text-align: center !important;
}

/* ÍCONES DE MÍDIA SOCIAL */
.st-emotion-cache-ocqkz7{
    text-align: center !important;
}

.st-emotion-cache-ocqkz7:hover{
    transform: scale(1.1) !important;
}